<div class="message-box">
  <div>
      <p ng-repeat="m in messages.coolMessages">{{m.content}} - {{m.userName}}</p>
      <div>
        <input type="text" class="message-box" placeholder="Enter message here..." ng-model="messages.coolMessage">
      </div>
      <div class="mess-box-buttons">
        <button type="submit" class="sendButton" ng-click="messages.send()">Send</button>
        <button type="submit" class="close-room" ng-click="messages.closeRoom(roomId)">Close Room</button>
      </div>
  </div>
</div>
